@import "../../node_modules/@blueprintjs/core/dist/variables.scss";

$primary-color: #2359A0;
$secondary-color: #007042;
$dark-gray: #656565;
$light-gray: #95989A;
$lightest-gray: #EEEEEE;
$green: #007042;
$light-green: #66AC89;
$dark-green: #003821;
$red: #7F201D;
$yellow: #FFF47C;
$orange: #FFBE1F;

$default-padding: $pt-grid-size * 1.5;
