@import "./_variables.scss";

.ChangePasswordForm {
  padding: 20px;
  background-color: white;
  border-radius: 5px;

  .pt-input, .button-gray, .button-primary {
    width: 100%;
  }

  .pt-label {
    font-weight: bold;
  }

  .pt-input {
    border: 1px solid $dark-gray;
    border-radius: 0;
  }

  .pt-input-group {
    .pt-input {
      z-index: 2;
      background-color: transparent;
    }

    .pt-input-action {
      z-index: 1;
      background-color: $lightest-gray;
      border-left: 1px solid $dark-gray;

      .pt-tag {
        background-color: transparent;
        color: black;
      }
    }
  }
}

.logged-in .ChangePasswordForm {
  padding: 0;
}
