@import "./_variables.scss";

.pt-label.coach-dropdown-label {
  margin-top: 5px;
}

.participant-list .panel-section {
  cursor: pointer;

  &:hover {
    background-color: $light-gray;
  }

  &.selected {
    background-color: $primary-color;
    color: white;
  }
}

#assign-button, #unassign-button {
  width: 100%;
  height: 5rem;
  border: 1px solid $primary-color;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;

  &:hover {
    background-color: $primary-color;
  }
}

#assign-button {
  margin-top: 10rem;
  background-image: url("../images/userAssign.svg");

  &:hover {
    background-image: url("../images/userAssignWhite.svg");
  }

  &:disabled {
    background-image: url("../images/userAssignGray.svg");
  }
}

#unassign-button {
  margin-top: 1rem;
  background-image: url("../images/userUnassign.svg");

  &:hover {
    background-image: url("../images/userUnassignWhite.svg");
  }

  &:disabled {
    background-image: url("../images/userUnassignGray.svg");
  }
}

.pt-input-group {
  margin: 20px 0 10px 0;
}

.total-assigned-label {
  border: 1px solid $dark-gray;
  background-color: $lightest-gray;
  line-height: 20px;
  font-size: small;
  text-align: center;
}

.total-assigned-value {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: $dark-gray;
  line-height: 30px;
  font-size: large;
  text-align: center;
}
