@import "./_variables.scss";

.LoginForm {
  width: 600px;
  margin: 50px auto;
  padding: 20px 120px 30px 120px;
  background-color: white;
  border-radius: 5px;

  .logo-large {
    width: 100%;
    height: 200px;
  }

  h1 {
    margin-top: 1rem;
    font-size: 2rem;
    color: black;
  }

  form {
    margin-top: 50px;
  }

  .pt-label {
    font-weight: bold;
  }

  .pt-input {
    width: 100%;
    border: 1px solid $dark-gray;
    border-radius: 0;
  }

  .pt-input-group {
    .pt-input {
      z-index: 2;
      background-color: transparent;
    }

    .pt-input-action {
      z-index: 1;
      background-color: $lightest-gray;
      border-left: 1px solid $dark-gray;

      .pt-tag {
        background-color: transparent;
        color: black;
      }
    }
  }

  .reset-password-button {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
