@import "./_variables.scss";

.Messages {
  position: relative;

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  .export {
    position: absolute;
    right: 15px;
    top: 0;
  }

  h2 {
    font-size: 20px;
    color: black;
    text-align: center;
  }

  .message-list, .message-form {
    display: inline-block;
    position: relative;
    width: 50%;
    vertical-align: top;
    padding: 15px;
  }

  textarea {
    border: 1px solid $dark-gray;
  }

  .message-buttons {
    position: absolute;
    top: 250px;
    width: 100%;
    text-align: center;

    > .pt-button {
      width: 75px;
    }

    > a {
      margin-right: 50px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;

    > li {
      display: inline-block;

      > a {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        padding: 4px 0;
        border: 1px solid $primary-color;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        background-color: $primary-color;
        color: white;
        text-decoration: none;

        &[rel="prev"] {
          background-color: $primary-color;
          background-image: url("../images/arrowLeft.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 10px;

          &:hover {
            background-image: url("../images/arrowLeftInverse.svg");
          }
        }

        &[rel="next"] {
          background-color: $primary-color;
          background-image: url("../images/arrowRight.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 10px;

          &:hover {
            background-image: url("../images/arrowRightInverse.svg");
          }
        }

        &:hover {
          background-color: white;
          color: $primary-color;
        }
      }

      &.selected {
        > a {
          background-color: white;
          color: $primary-color;
        }
      }
    }
  }
}
