@import "./_variables.scss";

.Prompt {
  .prompt-text {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }

  .pt-radio, .pt-checkbox {
    margin-left: 1rem;
  }

  .pt-control.pt-radio {
    height: 25px;
    line-height: 22px;
    padding-right: 5px;
    border-radius: 5px;

    &:hover {
      background-color: $lightest-gray;
    }

    .pt-control-indicator {
      top: 0.2rem;
      background: white;
      border: 1px solid black;
    }

    input:checked ~ .pt-control-indicator,
    &:hover input:checked ~ .pt-control-indicator,
    input:not(:disabled):active:checked ~ .pt-control-indicator {
      background: white;
      border-color: $primary-color;
    }

    input:checked ~ .pt-control-indicator::before {
      width: 1.5em;
      height: 1.5em;
      background: $primary-color;
    }

    &.custom-radio {
      float: left;
    }
  }

  .custom-text {
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 0;
  }

  .pt-control.pt-checkbox {
    .pt-control-indicator {
      border: 1px solid black;
      border-radius: 0;

      &::before {
        top: -1px;
      }
    }

    input:checked ~ .pt-control-indicator {
      background: $primary-color;
    }
  }

  .pt-numeric-input {
    width: 80px;
    margin: auto;

    .pt-input {
      width: 80px;
      height: 50px;
      padding-left: 0;
      text-align: center;
      border-radius: 0;
    }

    .pt-button-group.pt-vertical {
      .pt-icon-chevron-up, .pt-icon-chevron-down {
        position: absolute;
        left: 0;
        width: 80px;
        border-radius: 0 !important;
        background: $primary-color;
      }

      .pt-icon-chevron-up {
        top: -15px;

        &::before {
          content: "+";
          color: $lightest-gray;
        }
      }

      .pt-icon-chevron-down {
        top: 49px;

        &::before {
          content: "\2212";
          color: $lightest-gray;
       }
      }
    }
  }

  textarea.pt-input {
    width: 100%;
    height: 200px;
  }

  .time-picker {
    width: 200px;

    &:hover {
      background-color: $lightest-gray;
    }
  }
}
