@import "./_variables.scss";

.StepStatus {
  position: relative;
  text-align: center;

  .IconHeading {
    margin-left: 20px;
    text-align: left;
  }

  button {
    position: absolute;
    right: 20px;
    top: 0;
  }

  .progress-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .CircularProgressbar {
    .CircularProgressbar-path {
      stroke: $dark-green;
      stroke-dasharray: 20;
    }

    .CircularProgressbar-trail {
      stroke: $lightest-gray;
    }

    .CircularProgressbar-text {
      fill: $green;
      text-anchor: middle;
    }
  }

  .step-text {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $green;
  }
}

.pt-dialog.leaderboard {
  width: 375px;
  border-radius: 0;

  .pt-dialog-body {
    position: relative;
    margin: 0;

    .dialog-close {
      position: absolute;
      right: -12px;
      top: -12px;
      width: 25px;
      height: 25px;
      border: none;
      background-image: url("../images/close.svg");
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-image: url("../images/closeInverse.svg");
      }
    }

    .leaderboard-title {
      height: 50px;
      background: linear-gradient($primary-color, $secondary-color);
      font-weight: bold;
      font-size: 16px;
      line-height: 50px;
      color: white;
      text-align: center;

      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }

    .leaderboard-tabs {
      height: 50px;
      border-top: 1px solid white;
      background-color: $primary-color;

      > button {
        display: inline-block;
        width: 50%;
        height: 48px;
        border: none;
        color: white;
        background-color: $primary-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
      }

      > .active {
        border-bottom: 5px solid $yellow;
      }
    }

    .leaderboard-body {
      padding: 10px;

      p {
        margin-top: 15px;
        margin-bottom: -40px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }

      .branch {
        clear: both;
      }

      .branch-name {
        margin-top: 60px;
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 16px;
        color: $primary-color;

        span {
          vertical-align: top;
          font-size: 12px;
        }

        img {
          margin: 0 2px 0 10px;
        }
      }

      .branch-bar {
        position: relative;
        float: left;
        height: 40px;
        border: 1px solid $primary-color;
        background-color: $primary-color;

        img {
          position: absolute;
          right: 3px;
          top: 3px;
          width: 32px;
          height: 32px;
        }

        &.user-branch {
          background-color: $yellow;
        }

        &.icon-outside > img {
          right: -38px;
        }
      }

      .branch-steps {
        float: right;
        width: 15%;
        padding: 0 10px;
        color: $green;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
