@import "./_variables.scss";

.UserList {
  .success {
    font-weight: bold;
    color: $light-green;
    margin-top: 1rem;
  }

  table {
    margin-top: 1rem;
  }

  .status-control {
    .pt-control.pt-switch {
      display: inline;
      margin-bottom: 0;
      padding-left: 0;

      .pt-control-indicator, input[type="checkbox"] {
        left: 50%;
      }

      .pt-control-indicator {
        width: 50px;
        background-color: $dark-gray;

        &::before {
          width: 25px;
          height: 25px;
          top: -5px;
          left: 0;
          background-color: $lightest-gray;
        }

        &:hover {
          background-color: $lightest-gray;

          &::before {
            background-color: $dark-gray;
          }
        }
      }

      input:checked ~ .pt-control-indicator {
        width: 50px;
        background-color: $light-green;

        &::before {
          width: 25px;
          height: 25px;
          top: -5px;
          left: 25px;
          background-color: $green;
        }

        &:hover {
          background-color: $green;

          &::before {
            background-color: $light-green;
          }
        }
      }
    }

    label.left {
      padding-right: 10px;
    }

    label.right {
      padding-left: 60px;
    }
  }
}
