@import "./_variables.scss";

.UserHistory {
  .box-upper, .box-lower {
    margin: 0;
    border: 1px solid $light-gray;
  }

  .box-upper {
  }

  .box-lower {
    border-top-width: 0;
  }

  .box-left {
    margin: 1rem 0;
    padding-right: 1rem;
    border-right: 1px solid $light-gray;
  }

  .box-right {
    margin: 1rem 0;
    padding-left: 1rem;
  }

  .stats {
    float: right;

    strong {
      font-size: larger;
    }
  }

  .icon-text {
    font-weight: bold;

    img {
      float: left;
      width: 3rem;
      height: 2rem;
      margin-top: 0.1rem;
    }

    small {
      display: inline;
      text-transform: uppercase;
    }
  }

  .box-right {
    .styled-select {
      margin: 0.5rem 0 0 0;
    }

    .pt-button.button-short {
      margin: 0.5rem 0 0 0;
      line-height: 1rem;
    }
  }

  .WeightStatus {
    height: 150px;
    margin-bottom: 1rem;
  }

  .StepStatus {
    height: 150px;
    margin: 1rem 0;
  }

  h2 {
    margin: 1rem;
  }

  .extra-wide {
    flex-basis: 47%;
    max-width: 47%;
  }

  .extra-narrow {
    flex-basis: 6%;
    max-width: 6%;
  }

  .ModuleProgress.panel {
    height: 280px;
    margin-bottom: 20px;
  }

  .module-progress-left {
    margin-top: 150px;
  }

  .module-progress-list {
    width: 3rem;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    .module-progress-number {
      width: 50px;
      height: 50px;
      font-size: 2rem;
      line-height: 50px;
      border-radius: 25px;
      color: white;

      &:nth-child(4n + 1) {
        background-color: $green;
      }

      &:nth-child(4n + 3) {
        background-color: $primary-color;
      }
    }

    .module-progress-line {
      width: 0;
      height: 100px;
      margin: auto;
      border-right: 1px solid $light-gray;
    }
  }
}
